@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Montserrat:wght@400;600&display=swap');

body {
  background: linear-gradient(60deg, #00ffcc 0%, #9999ff 100%);
  max-width: 100%;
  height: 100%;
}

#quote-box {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.icon {
  padding-right: 10px;
  font-size: smaller;
}
#text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}
#author {
  font-family: 'Lobster Two', cursive;
  font-style: italic;
  text-align: right;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#tweet-quote {
  font-size: 2rem;
  color: #1DA1F2;
}
#tweet-quote:hover {
  color: #9999ff;
}

.btn {
  padding: 0.5rem 1.5rem ;
  border: none;
  background-color: #1DA1F2;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

.btn:hover {
  background-color: #9999ff;
}

footer {
  position: absolute;
  bottom: 0;
  left: 39%;
  padding: 2rem;
}